* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  margin: 0 1rem;
  background-color: rgb(24, 23, 23);
}

h1 {
  margin-top: 50px;
  font-size: 4rem;
}

h1,
h2 {
  text-align: center;
}

h1 a,
h2 a {
  text-decoration: none;
}

h1 span {
  color: #ca2121;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 10px;
}

p {
  font-size: 0.95rem;
}

hr {
  border: 1px solid #ca2121;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(71, 71, 71);
  margin: 0 auto 50px auto;
  padding: 3rem;
  max-width: 1200px;
  width: 100%;
  min-height: 100px;
  letter-spacing: 0.1rem;
  line-height: 1.75rem;
  border-radius: 5px;
  text-shadow: 1px 1px black;
}

.section-header {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.resume {
  text-align: center;
}

.pdf-link {
  padding: 10px;
}

.pdf-link:hover {
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
}

.resume-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.resume-section {
  text-align: left;
  margin: 20px;
}

.resume-aside {
  text-align: left;
  margin: 20px;
}

.resume-list,
.education-list,
.reference-list {
  margin: 20px 0;
  font-size: 0.95rem;
  list-style-position: outside;
}

.resume-list li {
  margin-left: 1rem;
}

.education-list li,
.reference-list li {
  list-style: none;
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: rgb(24, 23, 23);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s;
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
  font-size: 1rem;
}

.form-control:focus {
  border-color: #ca2121;
  outline: 0;
}

textarea {
  min-height: 120px;
  width: 100%;

  resize: vertical;
}

.submit-button {
  font-size: 1.125rem;
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #ca2121;
  color: #fff;

  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
}
.submit-button:hover {
  background: #cf3d3d;
  cursor: pointer;
}

.contact {
  text-align: center;
  width: 100%;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.contact-link:hover {
  background-color: rgb(37, 37, 37);
}

.contact-link a {
  text-decoration: none;
}

.contact-link-icon {
  font-size: 4rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project {
  background-size: cover;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}

.project-name,
.project-btn {
  visibility: hidden;
}

.project-btn {
  font-size: 12px;
  text-decoration: none;
  background-color: rgb(71, 71, 71);
  padding: 2px 10px;
  border-radius: 25px;
  width: 100px;
  margin-top: 10px;
}

.project:hover .project-name,
.project:hover .project-btn {
  visibility: visible;
}

.project:hover .project-btn {
  cursor: pointer;
}

.project-btn:hover {
  background-color: #ca2121;
}

.fa-server,
.fa-code {
  margin-right: 5px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

#profile-image {
  width: 100%;
  border: 1px solid black;
}

@media screen and (max-width: 960px) {
  h1 {
    margin: 0 auto;
  }

  .container {
    margin: 50px auto;
    padding: 2rem 1rem;
    width: 100%;
  }

  .section-header {
    margin-bottom: 20px;
  }

  .resume-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .resume-aside {
    text-align: left;
    margin-bottom: 0;
  }

  .contact-link {
    text-align: center;
  }

  .contact-links {
    flex-direction: column;
    justify-content: space-around;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  h1 {
    margin-top: 1rem;
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.9rem;
  }

  p,
  .resume-list,
  .reference-list,
  .education-list {
    font-size: 0.8rem;
  }

  .section-header {
    font-size: 1.75rem;
  }
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
